/*let's test*/
* {
  background-color: #252525;
  color: #ffff;
}
.h100 {
  color: rgb(255, 243, 136);
  font-family: monospace;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}
.p00 {
  position: absolute;
  width: 40vw;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 0 4vw 0 6vw;
}
.p01 {
  width: 40vw;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 0 6vw 0 54vw;
}
.a00 {
  color: #d9d9d9ff;
  text-decoration: underline;
}
.p02 {
  margin-top: 2rem;
}
